<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a target="_blank" href="https://material.angular.io/">Angular Material</a>
            </li>
            <li>
                <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                <li>
                    <a target="_blank" href="https://material.angular.io/" *ngFor="let option of options">{{option.label}}</a>
                </li>
            </ul>
        </div>
</mat-toolbar>