<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngFor="let option of options">
                <a *ngIf="option.routerLink"  [routerLink]="option.routerLink">{{option.label}}</a>
                <a *ngIf="option.url"  [href]="option.url">{{option.label}}</a>
            </li>
        </ul>
    </div>
</mat-toolbar>